type: onprem
server:
  host: apim
org:
  id: 59c7f126e4b032b113b62eb2
  name: factoriatcpsi
  displayName: factoriatcpsi
  orgType: apiProvider
  status: active
  advPortalOverride: true
  extUaaAuthenticated: false
  requiresSSLClientCertCheck: false
  dormant: false
  url: 'https://apim/v1/orgs/59c7f126e4b032b113b62eb2'
catalog:
  id: 59c7f42ce4b032b113b62ed3
  orgId: 59c7f126e4b032b113b62eb2
  name: DEV
  shortName: dev
  owner:
    id: 59c7f125e4b032b113b62ead
    username: jjdelagala@tcpsi.es
    context: apimanager
    idpId: 59c7e5d2e4b032b113b6278f
    email: jjdelagala@tcpsi.es
    firstName: ustglobal
    lastName: ustglobal
    status: ACTIVE
    lastLoginTime: '2017-09-24T20:46:32.915+0000'
    url: 'https://apim/v1/users/59c7f125e4b032b113b62ead'
  apiCenter: false
  baseUrl: 'https://datapower/factoriatcpsi/dev'
  portalType: ADVANCED
  portalUrl: 'https://apim/factoriatcpsi/dev'
  customPortalUrl: 'https://ibmportal/factoriatcpsi/dev'
  gatewayType: DataPowerGateway
  idp: 59c7f127e4b032b113b62ebf
  idps:
    - 59c7f127e4b032b113b62ebf
  availableRoles:
    - viewer
    - developer
  default: false
  autoDeploy: true
  gatewayClusterUrl: /gatewayClusters/59c7e5e6e4b032b113b62817
  restrictedDeployment: false
  invitationEnabled: true
  selfSignUpEnabled: true
  spaceEnabled: false
  spaceIds:
    - 59c7f42ce4b032b113b62edb
  testAppEnabled: true
  testAppCredentials:
    clientId: 3c01c024-ddae-4df7-ad36-e74bdc51e034
    clientSecret: eX6nV0bU7fP8hX3nB3kS1lT0yV5hX0bD3qG6dY7eH1hB6uR4gH
  createdAt: '2017-09-24T18:06:36.899+0000'
  updatedAt: '2017-09-24T18:22:34.300+0000'
  createdBy: jjdelagala@tcpsi.es
  updatedBy: jjdelagala@tcpsi.es
  url: >-
    https://apim/v1/orgs/59c7f126e4b032b113b62eb2/environments/59c7f42ce4b032b113b62ed3
  productDeploymentApprovalRequiredStates: []
  orgName: factoriatcpsi
space:
  none: true
app:
  none: true
id: b79b85d7-7154-4f9e-88e1-c0ff0b6e5532
target: 1.0.0
